@inherits MdcInputComponentBase<string>
@inject IJSRuntime jsRuntime
    
<div @ref="textFieldElem" class="mdc-text-field">
    <input type="@Type" id=@id class="mdc-text-field__input @FieldClass"
           @bind=@CurrentValue />

    <label class="mdc-floating-label" for=@id>@Label</label>
    <div class="mdc-line-ripple"></div>
</div>

@functions {
    string id = Guid.NewGuid().ToString();
    ElementRef textFieldElem;

    [Parameter] string Type { get; set; } = "text";
    [Parameter] string Label { get; set; }

    protected override Task OnAfterFirstRenderAsync()
        => jsRuntime.InvokeAsync<object>(
                "BlazorMaterial.textField.init", textFieldElem);
}
