@inject IJSRuntime jsRuntime

<div @ref="dialogElem" class="mdc-dialog">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <h2 class="mdc-dialog__title">@Title</h2>
      <div class="mdc-dialog__content">@Body</div>
      <footer class="mdc-dialog__actions">
          @Buttons
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

@functions {
    [Parameter] string Title { get; set; }
    [Parameter] RenderFragment Body { get; set; }
    [Parameter] RenderFragment Buttons { get; set; }

    ElementRef dialogElem;

    public Task<string> ShowAsync()
        => jsRuntime.InvokeAsync<string>("BlazorMaterial.dialog.show", dialogElem);

    public Task HideAsync()
        => jsRuntime.InvokeAsync<string>("BlazorMaterial.dialog.hide", dialogElem);
}
