@using RazorComponents.MaterialDesign
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Component Demos</title>
    <base href="/" />
    <link rel="stylesheet" href="css/site.css" />
    <link href="_content/RazorComponentsMaterialDesign/styles.css" rel="stylesheet" />
    <script src="_content/RazorComponentsMaterialDesign/script.js"></script>
    <script src="_content/RazorComponentsMaterialDesign/lib/material-components-web.js"></script>
</head>
<body class="mdc-typography">
    <div class="mdc-drawer-app-content">
        @(await Html.RenderComponentAsync<MdcTopAppBar>(new { Title = "Blazing Todos", }))
        <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust">
                <div class="mdc-card main-content-card">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
